<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div id="app" class="">
        <h1>{{settings.label}}</h1>
        <ul class="chart  ">
            <li class="axis">
                <div class="label">{{ maxHeight }}</div>
                <div class="label">{{ ( maxHeight * 3 ) / 4  }}</div>
                <div class="label">{{ maxHeight / 2 }}</div>
                <div class="label">{{ maxHeight / 1 }} </div>
                <div class="label">0</div>
            </li>
            <div  class="bar-container " v-for="(date, index) in data.DAILY.dates">
                <li :style="'height :' + data.DAILY.dataByMember.players.john.points[index] / 10 +'%'" class="bar teal fadeInUp">
                    <div class="skill ">{{ data.DAILY.dataByMember.players.john.points[index] }}</div>
                </li>
                <li :style="'height :' + data.DAILY.dataByMember.players.larry.points[index] / 10 +'%'" class="bar salmon fadeInUp">
                    <div class="skill">{{ data.DAILY.dataByMember.players.larry.points[index] }}</div>
                </li>
            </div>
            <!--
            <chart-item v-for="(index, date) in data.DAILY.dates" class="bar teal" height="50%" title="{{date}}">
            </chart-item>-->
        </ul>




    </div>








    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.min.js"></script>

    <script type="text/javascript" src="app.js"></script>
</body>

</html>